.main-footer{    
    justify-items: space-between;
    text-align: center;
    font-size: 0.8em;
}
  
.main-footer .left-side, .main-footer .right-side {
    margin: 0 auto;    
}
  
.main-footer .left-side .description {
    width: 80%;
    margin: 0 auto;
}